body {
  background-color: #0F0326;
}

#image-slider-container {
  display: flex;
  flex-flow: row nowrap;
  width: 60vw;
  height: 90vh;
  margin: auto;
  background-color: #B5D99C;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#image-slider-arrow-left {
  display: flex;
  height: 10vh;
  width: 10vw;
  filter: invert(65%) sepia(50%) saturate(5449%) hue-rotate(325deg) brightness(96%) contrast(87%);
  transition: transform 300ms;
}

#image-carousel {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 55vw;
  height: 85vh;
  background-color: #FFFF82;
}

#image-slider-arrow-right {
  display: flex;
  height: 10vh;
  width: 10vw;
  filter: invert(65%) sepia(50%) saturate(5449%) hue-rotate(325deg) brightness(96%) contrast(87%);
  transition: transform 300ms;
}

#nav-bar {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  background-color: #FFFF82;
  width: 16vw;
  height: 5vh;
  margin: auto;
  margin-top: 1%;
}

#image-slider-arrow-left:hover, #image-slider-arrow-right:hover {
  transform: rotate(360deg);
}

.img-hidden {
  display: flex;
  visibility: hidden;
  position: absolute;
  width: 50vw;
  height: 85vh;
}

.img-displayed {
  display: flex;
  flex: 1 1 auto;
  visibility: visible;
  position: absolute;
  width: 42vw;
  height: 80vh;
}

.svg-icon {
  filter: invert(54%) sepia(38%) saturate(960%) hue-rotate(314deg) brightness(90%) contrast(100%);
}

.svg-icon-selected {
  filter: invert(4%) sepia(70%) saturate(2184%) hue-rotate(249deg) brightness(119%) contrast(108%);
}